<div class="container">
  <h1>Setup Your Account</h1>
  <mat-card class="example-card">
    <mat-card-subtitle
      >Welcome to Ghala. Please setup your account to start using the
      app</mat-card-subtitle
    >
    <form class="example-form">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email Address</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Warehouse</mat-label>

        <mat-select>
          <mat-option value="one">Ruiru</mat-option>
          <mat-option value="two">Rongai</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Department</mat-label>

        <mat-select>
          <mat-option value="one">Operations</mat-option>
          <mat-option value="two">Dispatch</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>

        <mat-select>
          <mat-option value="one">Warehouse Supervisor</mat-option>
          <mat-option value="two">Dispatch Associate</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <button mat-raised-button>SUBMIT</button>
  </mat-card>
</div>
