<div class="dialog">
  <h2 mat-dialog-title>Hi {{ data.name }}</h2>
  <div mat-dialog-content>
    <p>Your registration is complete</p>
    <mat-form-field appearance="fill">
      <mat-label>Account Holder</mat-label>
      <input matInput [(ngModel)]="data.name" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email Address</mat-label>
      <input matInput [(ngModel)]="data.email" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Assigned warehouse</mat-label>
      <input matInput [(ngModel)]="data.warehouse" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Assigned Role</mat-label>
      <input matInput [(ngModel)]="data.role" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Ok Thanks</button>
  </div>
</div>
