<div class="container">
  <div class="container-example">
    <div class="logo">
      <img src="/assets/img/logo.png" />
    </div>
    <div class="number">
      <h1>OTP SMS</h1>
    </div>
    <div class="otp">
      <p>Please enter the OTP code sent to your number</p>
    </div>
  </div>
  <br />
  <div class="example-container">
    <form class="example-form" [formGroup]="otpForm" (ngSubmit)="verify()">
      <ng-otp-input
        (onInputChange)="onOtpChange($event)"
        [config]="{ length: 4 }"
        style="height: 50px"
      ></ng-otp-input>
    </form>
    <br />
    <span class="text-danger" *ngIf="!isValid">Invalid OTP Code</span>
    <button mat-stroked-button (click)="verify()" class="btn-block">
      Verify
    </button>
  </div>
</div>
