<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-md-8"> -->
      <div class="card">
        <div class="header">
          <h4 class="title">Edit Profile</h4>
        </div>
        <div class="content">
          <form [formGroup]="settingsForm" (ngSubmit)="updateProfile()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Company (disabled)</label>
                  <input
                    type="text"
                    class="form-control"
                    disabled
                    placeholder="Company"
                    value="Ghala"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Email address</label>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="email"
                    formControlName="email"
                    value="{{ loggedInUser.email }}"
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      settingsForm.controls['email'].dirty &&
                      settingsForm.hasError('required', 'email')
                    "
                    >Email is required</span
                  >
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="John"
                    formControlName="firstName"
                    value="{{ loggedInUser.firstName }}"
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      settingsForm.controls['firstName'].dirty &&
                      settingsForm.hasError('required', 'firstName')
                    "
                    >First Name is required</span
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Doe"
                    formControlName="lastName"
                    value="{{ loggedInUser.lastName }}"
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      settingsForm.controls['lastName'].dirty &&
                      settingsForm.hasError('required', 'lastName')
                    "
                    >Last Name is required</span
                  >
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="****"
                    formControlName="password"
                    value="{{ loggedInUser.password }}"
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      settingsForm.controls['password'].dirty &&
                      settingsForm.hasError('required', 'password')
                    "
                    >Password is required</span
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="phoneNumber">Phone Number</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="+254700000000"
                    formControlName="phoneNumber"
                    value="{{ loggedInUser.phoneNumber }}"
                    disabled
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="assignedWarehouse">Assigned Warehouse</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="assignedWarehouse"
                    formControlName="assignedWarehouse"
                    value="{{ loggedInUser.assignedWarehouse }}"
                    disabled
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="role">Role</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="role"
                    value="{{ loggedInUser.role }}"
                    disabled
                  />
                </div>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>About Me</label>
                  <textarea
                    rows="5"
                    class="form-control"
                    placeholder="Here can be your description"
                    value="Jean"
                  >
"strength in numbers"
                    </textarea
                  >
                </div>
              </div>
            </div> -->
            <button
              type="submit"
              (click)="updateProfile()"
              class="btn btn-info btn-fill pull-right"
            >
              Update Profile
            </button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
