<div class="main-content">
  <div class="container-fluid">
    <div class="row"></div>
    <div class="row">
      <div class="col-md-6">
        <lbd-chart
          [title]="'2022 Sales'"
          [subtitle]="'All products including Taxes'"
          [chartType]="activityChartType"
          [chartData]="activityChartData"
          [chartOptions]="activityChartOptions"
          [chartResponsive]="activityChartResponsive"
          [legendItems]="activityChartLegendItems"
          [withHr]="true"
          [footerIconClass]="'fa fa-check'"
          [footerText]="'Data information certified | Click to refresh'"
          [routerLink]="'/'"
        >
        </lbd-chart>
      </div>
      <div class="col-md-6">
        <lbd-chart
          [title]="'Warehouse Statistics'"
          [subtitle]="'Current Inventory vs Orders statistics'"
          [chartClass]="'ct-perfect-fourth'"
          [chartType]="inventoryOrderChart"
          [chartData]="inventoryOrderChartData"
          [legendItems]="inventoryOrderChartItems"
          [withHr]="true"
          [footerIconClass]="'fa fa-clock-o'"
          [footerText]="'Updated in realtime'"
          [routerLink]="'/'"
        >
        </lbd-chart>
      </div>
      <!-- <div class="col-md-6">
        <div class="card">
          <div class="header">
            <button
              class="btn btn-success btn-fill pull-right"
              (click)="toggleAddTasks()"
            >
              <i class="fa fa-plus"></i> Add Task
            </button>
            <h4 class="title">Tasks</h4>
            <p class="category">Warehouse</p>
          </div>
          <br />
          <form
            class="example-form"
            [formGroup]="addTaskForm"
            (ngSubmit)="toggleAddTasks()"
          >
            <div class="row" *ngIf="addTask">
              <div
                class="col-md-12"
                style="padding-right: 30px; padding-left: 30px"
              >
                <div class="form-group">
                  <input
                    id="task"
                    class="form-control"
                    formControlName="task"
                    type="text"
                    class="form-control"
                    placeholder="Detailed task"
                  />
                </div>
              </div>
            </div>
          </form>

          <div class="content">
            <div class="table-full-width">
              <table class="table">
                <tbody>
                  <tr *ngFor="let task of tasks">
                    <td>
                      <input
                        type="checkbox"
                        (click)="updateTask(task)"
                        [checked]="task.completed"
                      />
                    </td>
                    <td>{{ task.task }}</td>
                    <td class="td-actions text-right">
                      <button
                        type="button"
                        rel="tooltip"
                        title="Remove"
                        class="btn btn-danger btn-simple btn-xs"
                        (click)="deleteTask(task)"
                      >
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="footer">
              <hr />
              <div class="stats">
                <i class="fa fa-history"></i> Updated 3 minutes ago
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
